<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Bot.Name" value="jibbr-quiz" />
    <add key="Bot.Password" value="somepassword" />
    <add key="Bot.Server" value="http://jabbr.net" />
    <add key="Bot.RoomList" value="Code52-testing-tw" />
    <add key="Application.Gravatar" value="cyberzed@sleddog.dk" />
    <add key="Twitter.ConsumerKey" value="i8M47S9wTNCDIo7FtCLcsg" />
    <add key="Twitter.ConsumerSecret" value="gHsYpjIKZf9Xcuy7khLyWhvnt7NPjJ8S8CBQ6lKwXs" />
    <add key="Twitter.Token" value="130116760-iZ2teqS3wxq2j3Nr69KOiAtye1NRWR6ZTvQ0UYv5" />
    <add key="Twitter.TokenSecret" value="Tqquy7zHSTCmQwuZ2ZFO7ggL224el1X5Ou868FM" />
    <add key="Twitter.UserName" value="code_52" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition"
      switchValue="All">
        <listeners>
          <add name="fileListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>