<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Bot.Name" value="conanbot" />
    <add key="Bot.Password" value="barbarian" />
    <add key="Bot.Server" value="http://jabbr.net" />
    <add key="Bot.RoomList" value="Code52-testing5" />
    <add key="Application.Gravatar" value="me@brendanforster.com" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ComponentModel.Composition"
      switchValue="All">
        <listeners>
          <add name="fileListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="composition.log" />
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>