<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>
  <appSettings>
    <add key="Bot.Name" value="JabbrTheHut-AspNet" />
    <add key="Bot.Password" value="DemoPassword" />
    <add key="Bot.Server" value="http://jabbr-bots.apphb.com" />
    <add key="Bot.RoomList" value="The-Cantina,Jabbot,Jabbr-the-Huts-Place" />
    <add key="Application.HostBaseUrl" value="localhost" />
    <add key="Application.Gravatar" value="sethwebster+jabbrnotify@gmail.com" />
    <add key="Moment.ApiKey" value="20qGeYgrUZhZOqHtQHjt" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>