﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Jibbr</title>
    <link href="/Resources/Site.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="container">   
        <div id="logo">
            
        </div>
        
        <div class="clear">&nbsp;</div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>